* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }

  :root {
    --bg-color: white ;
    --second-bg-color: #3fb076;
    --text-color: #1d7dde;
    --main-color: black;
  }


  html {
    font-size: 60%;
    overflow-x: hidden;
  }

  a{
      text-decoration: none;
      color: #ffffff;
  }

  body{
      color: var(--text-color);
  }*
  

  .header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      padding: 4rem 15%;
      background-color: var(--bg-color);
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: space-between;
      align-content: center;
      z-index: 1000;

  }



  span{
      background : linear-gradient(
      270deg,
      #3fb076 10%,
      #0cabea 100%
      );
      background-clip: text;
      color : transparent;
  }



  .navbar a{
      font-size: 1.8rem;
      color: var(--text-color);
      margin-left: 4rem;
      font-weight: 500;
      transition: 0.3s ease-in-out;
      border-bottom: 3px solid transparent;
  }

  .navbar a:hover{
      color: var(--main-color);
      border-bottom: 3px solid var(--text-color);

  }

  .gradient-btn{
      font-size: 1.8rem;
      padding: 1rem 2rem;
      border-radius: 3rem;
      background: linear-gradient(
              270deg,
              #0cabea 10%,
              #1d7dde 100%
      );
      letter-spacing: 1px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      color: white;
      border: none;
      text-wrap: nowrap;
  }

  .gradient-btn:hover{
      transform: scale(1.05);
  }

  section{
      min-height: 100vh;
      padding: 10rem 15%;
  }




  .home{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15rem;
  }

  .home-content{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
  }

  .home-content h1{
      font-size: 8rem;
      font-weight: 700;
      margin-top: 1.5rem;
      line-height: 1;
  }

  .home-content h3{
      margin: 1rem 0;
      font-size: 4rem;
  }

  .home-content p{
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.8;
  }

  .home-img img{
    width: 25vw;
    border-radius: 15px;
    box-shadow: 0 0 25px var(--second-bg-color);
    transition: 0.4s ease-in-out;

}

.home-img img:hover{
    box-shadow: 0 0 25px var(--second-bg-color),
                0 0 50px var(--second-bg-color),
                0 0 100px var(--second-bg-color);


}

 

  .social-icons a{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      padding: 1rem;
      background: transparent;
      border: 2px solid var(--bg-color);
      border-radius: 50%;
      color: var(--bg-color);
      margin: 3rem 0.5rem;
      transition: 0.3s ease-in-out;

  }

  .social-icons a:hover{
      color: var(--text-color);
      background-color: var(--second-bg-color);
      transform: scale(1.2)translateY(-5px);
      box-shadow: 0 0 25px var(--second-bg-color);
  }

  
  .form-content h1{
    font-size: 500%;
    margin-top: 23%;
  }

  .form-content h2{
    font-size: 200%;
  }

  .form-content{
    margin-bottom: 10%;
  }




  /*  PARTIE POUR LE FORMULAIRE */



  .form-secret {
    width: 600px;  /* Taille plus petite pour la connexion */
    padding: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;

    margin: 0 auto;  /* Centrer le formulaire */
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    box-shadow: 0 0 25px var(--second-bg-color);
    transition: 0.4s ease-in-out;
}

.form-secret:hover{
    box-shadow: 0 0 25px var(--second-bg-color),
                0 0 50px var(--second-bg-color),
                0 0 100px var(--second-bg-color);


}


.form-secret h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.form-secret form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-secret label{
    font-size:x-large;
}

.form-secret input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
    justify-content: center;
}

.form-secret button {
    padding: 10px;
    width: 120px;
    font-size: 14px;
    color: #fff;
    background-color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-secret button:hover {
    background-color: #0cabea;
}



.form-secret-parent h1{
    margin-top: 7%;
    font-size: 35px;
   text-align: center;
   color: #333;
}


.form-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-row label {
    width: 100px;
    font-size: 15px;
    text-align: right;
    margin-right: 1px;
    display: flex;
    align-items: center; /* Correction principale */
    height: 40px; /* Même hauteur que l’input */
}

.form-row input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    height: 40px; /* Fixe la hauteur pour cohérence */
    border: 1px solid #ddd;
    border-radius: 5px;
}





  /*  PARTIE POUR LE DECOMPTE */

  .decompte h1 {
    font-size: 100px;
    text-align: center;
    margin-bottom: 15%;
    margin-top: 5%;
  }

  .decomptead h1 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 5%;
  }


  .countdown{
    display: flex;
    transform: scale(2);
    justify-content: center;
  }

  .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }

  .time h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
  }
  

  



  /*  PARTIE POUR LE FOOTER */


.footer{
    background-color: var(--text-color);
    padding: 50px 0;
}

.footer .social-icons{
    text-align: center;
}

.footer ul{
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--second-bg-color);
}

.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    color: var(--bg-color);
}


.secret{
    background-color: var(--bg-color);

}